@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Poppins", sans-serif;
  --font-weight-light: 300;
}

body {
  background-color: var(--color-slate-50);
}

.text-high {
  color: var(--color-rose-700);
}

.text-medium {
  color: var(--color-orange-700);
}

.text-low {
  color: var(--color-sky-700);
}

.bg-high {
  background-color: var(--color-rose-100);
}

.bg-medium {
  background-color: var(--color-orange-100);
}

.bg-low {
  background-color: var(--color-sky-100);
}

.ring-high {
  --tw-ring-color: var(--color-rose-300);
}

.ring-medium {
  --tw-ring-color: var(--color-orange-300);
}

.ring-low {
  --tw-ring-color: var(--color-sky-300);
}

[cmdk-group-heading] {
  text-transform: uppercase;
  letter-spacing: var(--tracking-widest);
  font-size: var(--text-xs);
  padding: var(--spacing);
  margin: 0 calc(var(--spacing) * 4) calc(var(--spacing) * 2);
  border-radius: var(--radius-sm);
  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
  font-family: var(--font-mono);
  font-family: var(--default-font-family);
  font-weight: var(--font-weight-light);
  width: fit-content;
}

[cmdk-item] {
  position: relative;
  &:hover,
  &[data-selected="true"] {
    color: var(--color-slate-900);
    background-color: var(--color-slate-100);
    & > kdb > div {
      background-color: #f00;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--color-slate-400);
    }
  }
}
